<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238195772585-2n72ivt5qnie0i7np9i1mv5kbnehdptm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238195772585-2n72ivt5qnie0i7np9i1mv5kbnehdptm</string>
	<key>API_KEY</key>
	<string>AIzaSyDW66QeCylHGZuLBskCrQQJR3zpywA4Z40</string>
	<key>GCM_SENDER_ID</key>
	<string>238195772585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.testproject</string>
	<key>PROJECT_ID</key>
	<string>flutterflow-test-4a05f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterflow-test-4a05f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238195772585:ios:0c200ca648b62befa3edb8</string>
</dict>
</plist>